@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5FBFF;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body,
input {
    font-family: 'Rubik', sans-serif;
}

input {
    border: 0;
    padding: 0;
    outline: none;
    padding: 0 18px;
}